.box {
    margin-bottom: 20px;
    position: relative
}

.box .box-header {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px 15px
}

.box .box-content {
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    display: block;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .055)
}

body {
    background-color: cadetblue;
}

html,
body {
    width: 100%;
}

.container {
    width: auto;
}

.name {
    color: rgb(27, 153, 27);
    padding-left: 215px;
    padding-right: 10px;
}

.with-icon-over-input {
    position: relative;
}

.with-icon-over-input>span>i {
    position: absolute;
    top: 2.7rem;
    left: 92%;
    font-size: 1rem;
}

.header-shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.31);
}

.ribbon {
    position: relative;
    z-index: 10000;
    left: -30%
}

.ribbon-container {
    position: absolute;
    left: 22%;
}

.col-xs-12 {
    margin-top: 30px;
    margin-bottom: 20px;
}